@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Agency</h1>
    <p class="lead">Real Estate Agency - это одна из лучших платформ для поиска и размещения объявлений об аренде недвижимости!</p>
    <p><a href="/advertisement/search" class="btn btn-primary btn-lg">Просмотреть объявления &raquo;</a></p>
</div>

